@import "../../styles/themes/index";

.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: $deskSize;
    margin: $defaultZero auto;
    position: fixed;
    top: $defaultZero;
    right: $defaultZero;
    left: $defaultZero;
    background-color: transparent;
    z-index: 1000;

    nav {
        background-color: $color-4;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        border-radius: 25px;
        overflow: hidden;

        &.active {            
            padding-left: 25px;

            ul {
                display: inline-flex;
            }
        }

        ul {
            display: none;

            li {
                margin: $defaultZero 29px;

                &:first-child {
                    margin-left: $defaultZero;
                }

                &:last-child {
                    margin-right: $defaultZero;
                }

                a {
                    font-family: $font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: $color-1;

                    &:hover {
                        cursor: pointer;
                        color: $color-hover;
                    }
                }
            }
        }

        .openBtn {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $color-4;
            color: $color-1;
            cursor: pointer;

            &:hover {
                svg {
                    color: $color-hover;
                }
            }
    
            svg {
                width: 25px;
                height: 25px;
            }
        }
    }
}