@import "../../styles/themes/index";

.container {
    position: absolute;
    top: $defaultZero;
    left: 100px;

    display: flex;
    width: 400px;
    height: 400px;

    @media(max-width: $deskSizeM) {
        left: 50px;
    }

    @media(max-width: $TabletSize) {
        left: -10px;
    }

    @media(max-width: $TabletSizeM){
        position: relative;
    }

    div {
        svg {
            width: 100%;
            height: auto;
        }
    }
}