@import "../../styles/themes/index";

.container {
    padding: 35px 25px;
    width: 325px;
    height: 205px;
    border-radius: 25px;
    background-color: $color-6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    strong {
        font-family: $font;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        word-break: break-word;
        text-align: left;
        color: $color-1;
    }

    .contentBtn {
        margin-top: 25px;

        em {
            background: $color-1;
            border-radius: 12px;
            padding: 8px 20px;

            font-family: $font;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 148%;
            text-align: center;
            color: $color-6;
        }

        a {
            padding: 8px 20px;
            font-family: $font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 148%;
            text-align: center;
            color: $color-link;
            margin-left: 15px;
        }
    }
}