@import "../../styles/themes/index";

.container {
    padding: 35px 25px;
    width: 40%;
    height: 350px;
    border-radius: 25px;
    background-color: $color-6;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    @media(max-width: 1180px){
        width: 80%;
        height: auto;
    }

    .containerDate {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-right: 10px;

        .date,
        .containerTemp {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            
            @include textCard;
            font-family: $font;
            color: $color-1;

            @media(max-width: $MobileSize){
                font-size: 14px;
            }

            .line {
                width: 1px;
                height: 30px;
                display: flex;
                border-left: 10px solid $color-link;
                margin-left: 10px;
            }
        }
    }

    .containerDescription {
        width: 50%;
        margin-right: 10px;

        .title {
            @include lineText;
            font-family: $font;
            color: $color-1;

            @media(max-width: $MobileSize){
                font-size: 18px;
            }
        }

        .description{
            margin-top: 15px;

            @include textCard;
            font-family: $font;
            color: $color-1;

            @media(max-width: $MobileSize){
                font-size: 14px;
            }
        }
    }

    .containerExtra {
        flex: 1;

        span {
            font-family: $font;
            @include lineText;
            color: $color-1;

            @media(max-width: $MobileSize){
                font-size: 18px;
            }
        }

        div {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            flex-wrap: wrap;
            gap: 5px;

            &.first {
                margin-top: 10px;
            }

            .card {
                background-color: $color-3;
                font-size: 14px;
                padding: 8px 10px;
                border-radius: 10px;
                
                @media(max-width: $MobileSize){
                    padding: 6px 8px;
                }
            }
        }
    }
}